<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.luowowo.scenic.mapper.ScenicMapper">
<resultMap id="baseResultMap" type="cn.woldcode.luowowo.scenic.domain.Scenic">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="enName" property="enName"/>
    <result column="tel" property="tel"/>
    <result column="url" property="url"/>
    <result column="travelTime" property="travelTime"/>
    <result column="content" property="content"/>
    <result column="summary" property="summary"/>
    <result column="ticketInfo" property="ticketInfo"/>
    <result column="parentId" property="parentId"/>
    <result column="destId" property="destination.id"/>
    <result column="coverUrl" property="coverUrl"/>
    <result column="intro" property="intro"/>
    <result column="tag" property="tag"/>
    <result column="commentNum" property="commentNum"/>
    <result column="ishot" property="ishot"/>

    <association property="destination" javaType="cn.wolfcode.luowowo.article.domain.Destination" columnPrefix="d_" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </association>

    <collection property="children" select="selectByParentId" column="id"/>
</resultMap>

    <select id="selectScenicTop5" resultMap="baseResultMap">
        SELECT s.id, s.destId, s.name, s.intro, s.coverUrl,s.commentNum, d.id d_id, d.name d_name
        FROM scenic s LEFT JOIN destination d ON s.destId = d.id
        WHERE s.ishot = 1
        LIMIT  0, 5
    </select>
    <select id="selectHotScenics" resultMap="baseResultMap">
        SELECT s.id, s.destId, s.name, s.intro, s.coverUrl,s.commentNum, d.id d_id, d.name d_name
        FROM scenic s LEFT JOIN destination d ON s.destId = d.id
        WHERE s.ishot = 1
        LIMIT 0, 10
    </select>

    <select id="selectForList" resultMap="baseResultMap">
        SELECT s.id, s.destId, s.name, s.intro, s.coverUrl,s.commentNum, d.id d_id, d.name d_name
        FROM scenic s LEFT JOIN destination d ON s.destId = d.id
        <where>
            <if test="destId != null">
                and s.destId = #{destId}
            </if>
            <if test="type != null">
                and s.tag = #{type}
            </if>
        </where>
    </select>

    <select id="selectScenicById" resultMap="baseResultMap">
        SELECT s.id, s.destId, s.name,s.enName, s.intro, s.coverUrl,s.commentNum, s.summary,
        s.tel, s.url, s.travelTime, s.content, s.ticketInfo,
        d.id d_id, d.name d_name
        FROM scenic s LEFT JOIN destination d ON s.destId = d.id
        WHERE s.id = #{id}
    </select>
    <select id="selectByParentId" resultMap="baseResultMap">
        SELECT id, name, coverUrl
        FROM scenic
        WHERE parentId = #{parentId}
    </select>
</mapper>